<div class="modal fade" id="modal-view" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        <form class="pure-form pure-form-stacked">
          <label for="member" class="control-label">Member</label>
          <input id="member" class="form-control" type="text" placeholder="Name" data-bind="value: member">
        </form>
      </div>
      <div class="modal-footer">
        <button class="pure-button" type="button" data-dismiss="modal">Close</button>
        <button class="pure-button pure-button-primary" type="button" data-bind="click: save">Save</button>
      </div>
    </div>
  </div>
</div>
