{% extends "layout.html" %}
{% block body %}
<div class="jumbotron">
  <div class="container">
    <h1 class="title">Assignment Calendar</h1>
  </div>
</div>
<div id="calendar-view">

  {% include '_navbar.html' %}

  <div class="container">
    <table class="calendar-table">
      <thead>
        <tr>
          <th>月</th>
          <th>火</th>
          <th>水</th>
          <th>木</th>
          <th>金</th>
          <th>土</th>
          <th>日</th>
        </tr>
      </thead>
      <tbody data-bind="foreach: weeks">
        <tr data-bind="foreach: $data">
          <td data-bind="click: $root.showModal">
            <p class="calendar-date" data-bind="text: $data.date"></p>
            <!-- ko foreach: $data.memberList -->
            <div class="calendar-assignee">
              <span data-bind="text: $data"></span>
              <button class="close-btn" data-bind="click: function() { $root.remove($data, $parent) }, clickBubble: false"><i class="fa fa-times-circle"></i></button>
            </div>
            <!-- /ko -->
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

{% include '_modal.html' %}

{% endblock %}
