<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>Assignment Calendar</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='vendor/css/pure-min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='vendor/css/font-awesome.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
  {% block body %}{% endblock %}
  <script type=text/javascript>
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
  </script>
  <script src="{{ url_for('static', filename='vendor/js/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/js/knockout.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/js/modal.js') }}"></script>
  <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
